<html>
<body>
<h1>Edit profile</h1>
{% if user %}
    {{ user.get_full_name() }}
{% endif %}
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}
<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    {{ form.given_name(placeholder=form.given_name.label.text) }}<br>
    {% for message in form.errors.get('given_name', []) %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <input type="text" name="middle_name" placeholder="middle_name" value="{{ form.middle_name.data }}"><br>
    {% for message in form.errors.get('middle_name', []) %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <input type="text" name="family_name" placeholder="family_name" value="{{ form.family_name.data }}"><br>
    {% for message in form.errors.get('family_name', []) %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {{ form.nickname }}<br>
    {% for message in form.errors.get('nickname', []) %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {{ form.email }}<br>
    {% for message in form.errors.get('email', []) %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <button type="submit">Update profile</button>
</form>
</body>
</html>
